@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

html,
body{
    background-color: #202225;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.img1{
    margin-top: 10%;
    height: 30%;
}